 <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crowny Hotel</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
  <style>
    .row {
     position: center;
}
</style>
  <header>
    <div class="content flex_space">
      <div class="logo">
        <img src="static/images/logo.png"  alt="">
        <style>
           .logo{
            margin-left: 30px
          }
        </style>
      </div>
      <div class="navlinks">
        <ul class="menulist">
          <li> <a href="#home">Home</a> </li>
          <li> <a href="#about">about</a> </li>
          <li> <a href="#rooms">rooms</a> </li>
          <li> <a href="#news">news</a> </li>
          <li> <a href="#contact">contact</a> </li>
          <a href="/logout"><li> <button class="second-btn">SIGN OUT</button> </li></a>
          <li> <button class="primary-btn">BOOK NOW</button> </li>
        </ul>
      </div>
      </div>
    </div>
  </header>
  <style>
    table, tr,th, td {
    border:1px solid rgb(184, 184, 184);
    border-collapse: collapse;
    padding: 10px;
    }
  </style>
   <section id="wrapper">
       
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
					<div class="row"  style="background-color: rgb(247, 247, 247);height: 300px;">
            <h1 class="page-header" style="text-align: left;color:rgb(0, 0, 0)">
                            Status Room Booking 
                        </h1>
							<div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr style="background-color:  rgb(2, 121, 177);color:white">
                                           
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Country</th>
											<th>Room</th>
											<th>Bedding</th>
                                            <th>Number of Rooms</th>
											<th>Check In</th>
											<th>Check Out</th>
											<th>Accept</th>
											<th>Reject</th>
											
                                        </tr>
                                    </thead>
                                    <tbody>




                        
                       
                                    {%for a in record%}
                                   
										<tr>
										    <th>{{a.first_name}} {{ a.last_name}}</th>
												<th>{{a.email}}</th>
												<th>{{a.nationality}}</th>
												<th>{{a.type_of_room}}</th>
												<th>{{a.Bedding_Type}}</th>
                                            <th>{{a.Number_of_rooms}}</th>
												<th>{{a.check_in}}</th>
												<th>{{a.check_out}}</th>
											
									

									<th><a href='/booking'class='btn btn-success' style="color:  rgb(0, 180, 54);" >Add</a></th>



                                    <th><a href='/reject/{{a.id}}'class='btn btn-danger' style="color:  rgb(241, 0, 0);">Reject</a></th>
												</tr>
                                           
                                    {%endfor%}
                                    
                                     </div>
							            
                                    </tbody>
                                </table>
								
                            </div>
                        </div>
                      </section>
     <footer>
    <div class="container grid">
      <div class="box">
        <h1 color: blue>VINPEAR</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="icon">
          <i class="fa fa-facebook-f"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-youtube"></i>
        </div>
      </div>

      <div class="box">
        <h2>Links</h2>
        <ul>
          <li>Company History</li>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Services</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="box">
        <h2>Contact Us</h2>
        <p>
        </p>
        <i class="fa fa-location-dot"></i>
        <label>1201 park street, Avenue, Dhanmondy, Dhaka. </label> <br>
        <i class="fa fa-phone"></i>
        <label>[88] 657 524 332</label> <br>
        <i class="fa fa-envelope"></i>
        <label>info@dentar.com</label> <br>
      </div>
    </div>
  </footer>
    <div id="branchs">
        <ul >
                 <li> <a href="#home"><img src="static\images\booking.png"></a> </li>
                <li> <a href="#about"><img src="static\images\agoda.jpg"></a> </li>
                <li> <a href="#rooms"><img src="static\images\trave.jpg"></a> </li>
        </ul>
    </div>
  <div class="legal">
    Copyright (c) 2022 Copyright Holder All Rights Reserved.
  </div>
  <div class="acbsww_icon_webchat">
    <style>
      .rw-widget-container{width: 90%;height:90%}
      .rw-new-message{color: red}
      .rw-widget-container .rw-close-button{ background-color: rgb(0, 228, 61);}
      .rw-conversation-container .rw-header{background-color: rgb(0, 228, 61);
}
      .rw-conversation-container .rw-messages-container .rw-message .rw-client{background-color: rgb(0, 228, 61);}
      .rw-launcher{ background-image: url("C:\\Users\\DELL\\Desktop\\rasa_hotelchatbot\\images\\bot.gif")}
    </style>
    <script src="hi.js"></script>
    <script>!(function () {
        let e = document.createElement("script"),
          t = document.head || document.getElementsByTagName("head")[0];
        (e.src =
          "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
          // Replace 1.x.x with the version that you want
          (e.async = !0),
          (e.onload = () => {

            window.WebChat.default(
              {
                initPayload: "/greet",
                selector: "#webchat",
                interval: 1000,
                customData: { language: "en" , "userID": "123"},
                socketUrl: "http://localhost:5005",
                socketPath: "/socket.io/",
                title: "Booking Bot",
                // subtitle: "Subtitle",
                inputTextFieldHint: "Type a message...",
                connectingText: "Waiting for server",
                hideWhenNotConnected: true,
                fullScreenMode: false,
                showFullScreenButton: false,
                
                profileAvatar: "C:\\Users\\DELL\\Desktop\\rasa_hotelchatbot\\images\\bot.gif",
                openLauncherImage: "myCustomOpenImage.png",
                closeLaucherImage: "myCustomCloseImage.png",
                displayUnreadCount: true,
                params: {
                    images:{
                        dims:{
                            witdh: 300,
                            height: 200,
                        }
                    },
                    storage: "local"
                },
                // add other props here

              },
              null
            );
          }),
          t.insertBefore(e, t.firstChild);
      })();
       localStorage.clear();
      </script>    
      </div>
      <div>{{recommend}}</div>
</body>
</html>
